

.company-title{
    align-self: center
}
.company-logo-container{
    background-image: url(https://cdn.assets.company.com/miop/od/logo/od-logo.png);
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: left center;
    width: 350px;
    height: 80px;
    margin-left: 30px;
    float: left;
}

@media only screen and (max-width: 959px) and (min-width: 600px){
.company-title {
    height: 68px;
    width: 100%;
    padding: 0px 30px !important;
}
.company-title .Company-Logo-Container {
    width: 70%;
}
}
.account-selection {
     font-weight: bold  !important;
    font-size: 14px  !important;
    text-transform: none !important;  
    margin-top: 20px !important;
}


.my-account-title{
  
}
.account-section-label{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 850px;
    align-self: center;
    margin: 0px auto;
}
.account-section-background{
    height: 65px;
    display: flex;
    color: rgb(255, 255, 255);
    background: url(https://cdn.assets.company.com/miop/od/header/od-squares.svg) 50% center no-repeat rgb(46, 165, 243);
}