.avtar{
    margin: 10px;
    background-color: rgb(56, 195, 164) !important;
    padding: 10px;
    color: #fafafa !important;
    width: 72px!important;
    height: 72px!important;
    font-size: 25px!important;
    font-weight: 500;
}
.margin-name-avtar{
    align-self: center;
    margin-top: 0px;
    margin-bottom: 16px;
}
.userName{    
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.46429em;
}
.edit{
    font-weight: 400;
    color: rgb(46, 165, 242);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.arrow{  
    color: rgb(46, 165, 242);    
    cursor: pointer;
    padding-top: 30%;
    float: right;
}
.inputField{
    border: 1px solid rgb(114, 119, 123);
    border-radius: 5px;
    height: 43px;
    padding-left: 8px;
    margin: 10px 0px 10px 0px;
}
.form{
    margin :20px;
}
.submitBtn{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin-left: 40%;
}
.errorDiv{
    color: red;
    font: 16px;
    margin-bottom: 2px
}